<div class="main-container">
  <mat-form-field
    class="top-bar"
    appearance="fill"
    onsubmit="doSearch($event)"
  >
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchKeyword"
      (keydown.enter)="getImages(undefined)"
    />
    <button
      *ngIf="searchKeyword"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchKeyword = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      matSuffix
      mat-icon-button
      type="submit"
      aria-label="Search"
      (click)="getImages(undefined)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-paginator
    *ngIf="searchKeyword"
    class="top-bar"
    (page)="getImages($event)"
    [length]="maxLimit"
    [pageSize]="9"
    [showFirstLastButtons]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
    >
  </mat-paginator>
</div>

<div class="three-column">
  <mat-card
    class="mat-elevation-z8"
    *ngFor="let image of pagedImages"
    style="height: -webkit-fill-available; margin: 5px"
  >
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ image.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ image.images.original.url }}"
      alt="{{ image?.title }}"
    />
  </mat-card>
</div>
<div
class="bottom-bar"
>
  <mat-paginator
    *ngIf="pagedImages.length > 0 && searchKeyword"
    class="top-bar"
    (page)="getImages($event)"
    [length]="maxLimit"
    [pageSize]="9"
    [showFirstLastButtons]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
    >
  </mat-paginator>
</div>  
